{% extends "./main.html" %}
{% load static %}
{% block title %}dashboard{% endblock title %}


{% block content %}
     <!------------------ info start ------------>
     <div class="info container">
        <div class="info-content">
            <i class="fa-solid fa-user blue"></i>
            <div class="text">
                <p>students</p>
                <h2>943</h2>
            </div>
        </div>


        <div class="info-content" title="course count {{course_count}}">
            <i class="fa-solid fa-user pink"></i>
            <div class="text">
                <p>Courses</p>
                <h2>{{course_count}}</h2>
            </div>
        </div>


        <div class="info-content">
            <i class="fa-solid fa-user orange"></i>
            <div class="text">
                <p>Payments</p>
                <h2>943</h2>
            </div>
        </div>

        <div class="info-content">
            <i class="fa-solid fa-user blue"></i>
            <div class="text">
                <p>students</p>
                <h2>943</h2>
            </div>
        </div>
  </div>
   <!------------------ info end ------------>
{% endblock content %}
    